.wrapper{
    flex: 1;
}

.card-wrapper{
    margin-bottom: 10px;
    button{
        margin-right: 10px;
    }
}

.group-wrapper{
    margin-bottom: 10px;
}

.modal-center{
    display: fixed;
    left: 50%;
    right: 50%;
    transform: scale(-50%,-50%);
}

.mask-wrapper{
    margin-bottom: 10px !important;
}

/* For 轮播图 */

.ant-carousel {
    width: 1143px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.slide-wrapper .ant-carousel .slick-slide div{
    height: 240px;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

