@import '~defaultStyle/default.less';

.header{
    background-color: @colorM;
    flex: 1;
    font-size: @fontE;
    .header-top{
        padding: 0 20px;
        line-height: 60px;
        text-align: right;
        .logo{
            font-size: 18px;
            line-height: 60px;
            text-align: left;
            img{
                margin: 0 10px;
                height: 40px;
                vertical-align: middle;
            }
        }
        a{
            margin: 0 0 0 20px;
        }
    }
    .breadcrumb{
        border-top: 2px solid #E066FF;
        padding: 0 20px;
        line-height: 40px;
        .title{
            font-size: @fontC;
            text-align: center;
            &::after{
                position: absolute;
                content: '';
                top: 40px;
                left: 90px;
                border-top: 10px solid @colorM;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
            }
        }
        .day{
            text-align: right;
            .date{
                margin: 0 10px 0 0;
            }
            .weather-img{
                img{
                    height: 15px;
                    vertical-align: middle;
                }
            }
            .weather-detial{
                margin: 0 0 0 10px;
            }
        }
    }
}

.simple-page{
    .header-top{
        background: #1890ff;
        color: @colorM;
    }
}