@import '~defaultStyle/default.less';

.header{
    background-color: @colorM;
    font-size: @fontE;
    .header-top{
        padding: 0 20px;
        line-height: 60px;
        text-align: right;
        a{
            margin: 0 0 0 20px;
        }
    }
    .breadcrumb{
        border-top: 2px solid #E066FF;
        padding: 0 20px;
        line-height: 40px;
        .title{
            font-size: @fontC;
            text-align: center;
            &::after{
                position: absolute;
                content: '';
                top: 40px;
                left: 88px;
                border-top: 10px solid @colorM;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
            }
        }
        .day{
            text-align: right;
            .date{
                margin: 0 10px 0 0;
            }
            .weather-img{
                img{
                    height: 15px;
                    vertical-align: middle;
                }
            }
            .weather-detial{
                margin: 0 0 0 10px;
            }
        }
    }
}