@import '~defaultStyle/default.less';
@import '~defaultStyle/loading.less';

.clearfix{
    &::after{
        content: ' ';
        clear: both;
        display: block;
    }
}

.container{
    display: flex;
    .nav{
        height: calc(100vh);
        background-color: #001529;
    }
    .main{
        flex: 1;
        height: calc(100vh);
        background-color: @colorL;
        overflow: auto;
        .content{
            padding: 20px;
        }
    }
}

.wrapper {
    &.detail-wrapper{
        background: #fff;
    }
    flex: 1;
    overflow: hidden;
    .card-wrapper{
        margin-bottom: 10px;
        button{
            margin-right: 10px;
        }
    }
    .button-wrapper{
        button{
            margin-right: 10px;
        }
    }
    .table-wrapper{
        margin-top: -1px;
    }
}

